* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}


/* First Section */


.first {
    background-color: #1F2937;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 1em 10em;
}

.top {
    display: flex;
    justify-content: space-between;
}

.bottom {
    margin: 7em 0;
    display: flex;
    gap: 2em;
}



.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.links {
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0.35em 0;
}

.left div {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.left p,
.links {
    font-size: 18px;
    color: #E5E7EB;
}

.top div {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.signup {
    background-color: #3882F6;
    border: none;
    border-radius: 5px ;
    color: #E5E7EB;
    padding: 0.5em 2em;   
}

.right {
    width: 300px;
    height: 300px;
}

/* Second Section */


.second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    display: flex;
    gap: 5em;
    padding: 0 0 7em 0;
    margin: -3em 0 0 0;
}

.info {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.text {
    text-align: center;
}

.second p {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

img { 
    width: 12em;
    border-radius: 5px;
}


/* Third Section */

.third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;   
    color: #1F2937;
    padding: 7em 12em;   
}

.third p {
    font-size: 36px;
    font-weight: 100;
    align-self: flex-start;  
}

.third div {
    align-self: flex-end;
    font-weight: 900;
    margin: 0 4em;
}


/* Fourth Section */

.fourth {
    background-color: #3882F6;
    margin: 7em 12em;
    padding: 3em 6em 2em 6em;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px
}

.fourth div {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.fourth p {
    font-weight: 100;
}

.bsignup {
    background-color: #3882F6;
    border: #F9FAF8 solid 1px;
    border-radius: 5px ;
    color: #E5E7EB;
    padding: 0.5em 2em;
   
}


/* Footer */


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 2em;
    font-size: 11px;
}



